@page
@model FashionBiz.App.Pages.Customer.MyMeasurementsModel
@{
    ViewData["Title"] = "My Measurements";
    Layout = "~/Pages/Shared/_FashionMainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 bg-light">
            <a href="/Customer/NewMeasurement?customerId=@ViewData["CustomerId"]" class="btn btn-primary" style="float:right">Add Measurement</a>
            @*<a asp-page="/Customer/NewMeasurement?" asp-route-customerId="@Model.My.CustomerId" class="btn btn-primary" style="float:right">Add Measurement</a>*@
        </div>
    </div>
</div>

<table class="table datatable">
    <thead>
        <tr>
            <th>
                Garment Type
            </th>
            <th>
                General Size
            </th>
            <th>
                Measurement Type
            </th>
            <th>
                Chest
            </th>
            <th>
                Collar
            </th>
            <th>
                Arm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.MyMeasurements != null)
        {
            foreach (var item in Model.MyMeasurements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GarmentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Generalsize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeasurementType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Chest)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Collar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Arm)
                    </td>
                    <td>
                        @*  @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId })*@
                        <a href="/Customer/EditMeasurement?measurementId=@item.CustomerId">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>